/** GLOBAL **/
.panel-heading {
  height: auto;
  }

/* Form Search */

.search-big-admin{
    box-shadow: 1px 1px 1px 1px #cccccc38;
    margin: 10px;
    overflow: hidden;
    background: #f7f7f7;
    padding: 10px;
    border: 1px solid #f1f1f1;
}

.search-big-admin input[type=submit]{
    margin-top:42px;
}

/** ORDER SHOW **/
.aostm-box {
    text-align: center;
    border: 1px solid #e8e8e8;
    background: #f7f7f7;
}

.admin-errors .alert-danger {
    list-style: none;
    color: #ff4c15;
    /* background-color: #ff6434; */
    border-color: #ff9090;
}

img.sm-thumb {
    width: 34px;
}
form.delete {
    display: inline-block;
}