/*// Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
	
}


/*// Large devices (desktops, 992px and up)*/
@media (max-width: 992px) { 	

}
/*Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) {
	.search-in-nav {
	    width: 100%;
	} 
	.body-padding-1{
	    padding-top: 170px;
	}
	.navbar-header{
		width:100%;
	}
}

/*// Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
	.body-padding-1{
		padding-top: 115px;
	}
	.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
}


