
/*@import url('https://fonts.googleapis.com/css?family=Montserrat');*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

@font-face {
font-family: 'ARMT Bold';
font-style: normal;
font-weight: normal;
src: local('Arial Rounded MT Bold'), url('../fonts/arial-rounded-mt-bold.woff') format('woff');
}

/** Base **/
:root {
    --bg-color: coral;
    --txt-color: blue; 
    --link-color: #6bad1f; 
    --color-1: #437512;
    --color-2: #C3DA8C;
    --color-3: #E5F5B7;
    --color-4: #D4DBB9;
    --color-5: #062400;
}
body {
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'Roboto', sans-serif;
     
}
.body-padding-1{
    padding-top: 102px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
a{
    color:#6bad1f;
}
a:hover{
    text-decoration:underline;
}
img{
    max-width: 100%;
    height: auto;
}
input[type="submit"] {
    outline: 0;
    background: #6bad1f;
    color: #fff;
    border: 2px solid #6bad1f;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.btn-primary {
    color: #fff;
    background-color: #2196F3;
    border-color: #2196F3;
}
.btn-primary:hover {
    color: #fff;
    background-color: #36a6ff;
    border-color: #1d98f9;
}
.modal-content {
     border-radius: 0; 
}

/** Nav **/
.navbar-header {
    width: 100%;
}
nav.navbar{
    background: #fff;
    border:1px solid #ccc;
}
nav.navbar a{
    color:#000;
}
.navbar-brand>img {
    display: block;
    max-width: 200px;
}
.navbar-toggle .icon-bar {
    background: #000;
}
.cart-bx {
    margin: 0 10px;
    line-height: 50px;
    float: right;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #565656;
}
.tab-content {
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-top: none;
}

/** TOASTER **/
.toast-top-right {
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
}

#toast-container>div {
    margin: 0;
    font-size: 18px;
    width: 100%;
    color: #FFF;
    padding: 6px 0;
    opacity: 1;
}
.toast-success {
    background-color: #0bb10b;
}

/* HOME */
.search-in-nav {
    margin-right: 10px;
    margin: 6px 0;
    width: 81%;
    float: right;
    line-height: 35px;
}

.search-in-nav input{
    outline: 0;
    /* color: #fff; */
    padding:0 10px;
    width: 100%;
    border-radius:50px;
    border:1px solid #868686;
    /* background:#222; */
}
/* Banner Section */
.banner-section {
    text-align: right;
    /* min-height: 400px; */
    position: relative;
    margin:20px 0;
    background-color: #fff;
    box-shadow: inset 0 0 55px 1px #f5f7f5;
}
.banner-section img{
    width:100%;
}
.banner-text {
    position: absolute;
    bottom: 13%;
    right: 26px;
}
.banner-text h1, .banner-text h2{
    font-size: 37px;
    font-family: 'ARMT Bold', sans-serif;
}

/* Category Menu */
.category-menu {
    flex-wrap: wrap;
    display: flex;
    /* overflow: hidden; */
    background: #ffffff;
    padding: 5px 20px;
    margin-bottom: 20px;
    box-shadow: inset 0 0 55px 1px #f5f7f5;
}
ul.maga-menu-item {
    padding: 4px;
    margin: 0;
}
ul.maga-menu-item > li{
    list-style: none;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #797979;
    margin: 0;
    background: #fefefe;
    font-size: 12px;
    margin-bottom: 6px;
    color: #ffffff;
    padding: 1px;
    border: 1px solid #fff;
}
ul.maga-menu-item li a{
    color: #000000;
}


ul.maga-menu-item ul{
    border: 1px solid #f5f5f5;
    background: #ffffff;
    position: absolute;
    min-width: 150px;
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 10px;
    z-index: 3234234;
}

ul.maga-menu-item > li:hover ul{
    display:block;
}
ul.maga-menu-item ul li{}
ul.maga-menu-item ul li a{
    font-size: 14px;
}

ul.items {
    margin: 0;
    overflow: hidden;
    list-style: none;
    padding: 0;
}

ul.items .main {
    height: 300px;
    margin-bottom: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: inset 0 0 55px 1px #f5f7f5;
    transition: all .5s ease;
    text-align: center;
}

ul.items li{
    height: 400px;
    margin-bottom: 20px;
    /* width: 22%; */
}
ul.items .main a{
    width:100%;
    height:100%;
    display:block;
}

.product-small .foot a {
    color: #53585f;
    font-weight: 600;
    word-break: break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-height: 39.6px;
}



.items img {
    max-width: 75%;
    margin: 0 auto;
}

/** PRODUCTS PAGINATION **/
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #33b74f;
    border-color: #33b74f;
}

.pagination>li>a, .pagination>li>span {
    width: 40px;
    height: 40px;
    position: relative;
    float: left;
    text-align: center;
    padding: 10px 0;
    margin-left: 5px;
    line-height: 1.42857143;
    color: #29a9a4;
    text-decoration: none;
    background-color: #fff;
    border-radius: 33px;
    border: 1px solid #ececec;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
}


li.cart span{
    /* color: #fff; */
    font-size: 15px;
    position: absolute;
    top: 8px;
    border: 1px solid #548b42;
    right: -6px;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    text-align: center;
    /* padding-top: 4px; */
}

li.cart {
    position: relative;
}
.product-gallery-images {
    text-align: center;
}
.product-gallery-images img{
    max-height: 400px;
}


/** PRODUCT SINGLE PAGE **/
.product-feature {
    margin-top: 120px;
}
.product-variations {
    margin-bottom: 20px;
}
.original-link {
    margin-bottom: 10px;
}

.price {
    margin-bottom: 10px;
}

footer {
    margin: 50px 0 0;
}
th.cart-r-img img{max-width: 75px;}
span.without-offer-price {
    text-decoration: line-through;
}
.order-sum-cart ul{
    margin:0;
    padding:0;
    list-style:none;
}

.order-sum-cart ul li{
    overflow: hidden;
    clear:both;
    display:block;
    margin: 2px 0;
    border: 1px solid #d5d5d5;
    padding: 3px;
}

/** CART **/

span.sum-label {
    float: left;
}

span.sum-value {
    font-weight: bold;
    float: right;
}
.order-total-cart-label {
    float: left;
}

.order-total-cart-value {
    font-weight: bold;
    float: right;
}

.order-total-cart {
    margin-bottom: 20px;
    overflow: hidden;
}

.order-total-cart ul{margin:0; padding:0;}
.order-total-cart ul li{list-style:none; clear:both; margin:0; padding:0;}
.tit-d-cnt {
    width: 30px;
    display: block;
    text-align: center;
    font-size: 16px;
}
span.cart-r-tit-foot {
    margin-top: 8px;
    display: block;
}

i.tit-d-in {
    font-size: 20px;
    margin-right: 6px;
}
.cart-table td{
    vertical-align: middle !important;
}
td.cart-r-title > a {
    font-weight: bold;
    color: #000;
}

td.cart-r-price {
    color: #000000;
    font-weight: bold;
}

.cart-table a{
    color:#6bad1f;
}
.loc-cart{
    margin-bottom:20px;
}
.loc-cart h6{margin:0; padding:0;}

.order-sum-cart {
    margin-bottom: 20px;
}

.order-sum-cart h4 {
    /* border-bottom: 1px solid #ccc; */
}

.order-voucher-cart {margin-bottom: 20px;}

.order-checkout-cart {
}
/** DASHBOARD */

.dashboard-nav .nav-pills>li>a {
    /* background: #f5f5f5; */
    color:#969696;
    border: 1px solid #e6e6e6;
}
.dashboard-nav .nav-pills>li.active>a {
    border: 1px solid #46c72e;
    background: #46c72e;
    color: #fff;
}
.account-d-head {
    /* background: -webkit-linear-gradient(141deg, #06377c 0%, #02468f 51%, #06377c 75%); */
    /* color: #fff; */
    /* padding: 20px; */
}

.acc-cst-id p{color:#A9A9A9; font-size:12px;}
.img-priv {
    overflow: hidden;
    min-height: 450px;
}
img.xzoom-gallery {
    max-height: 150px;
    margin: 0 2%;
}
/*my-order-details*/
.my-order-products-dsbrd {
    margin-top: 30px;
}
.my-order-products-dsbrd a{    
    color: var(--link-color);
    font-weight: 600;
    word-break: break-word;
}

.my-order-products-dsbrd table thead td {
    border:none;
    background-color: #f7f7f7 !important;
    color: #53585f;
    text-transform: uppercase;
    font-weight: bold;
}
.my-order-products-dsbrd table td {
    border: none !important;
    border-bottom:1px solid #e2e2e2 !important;
}


/** ORDER DETAILS **/
.order-live-track {}
.order-live-track ul{
    width: 100%;
    display: flex;
    list-style: none;
    padding: 0;
}
.order-live-track ul li{position: relative;text-align: center;width: 138px;float: left;}
.order-live-track ul li span.step-num{
    position: relative;
    margin-bottom: 21px;
    background: #e6e6e6;
    width: 37px;
    display: block;
    margin: 0 auto 15px;
    border-radius: 100px;
    padding: 9px;
}
.order-live-track ul li.active span.step-num, .order-live-track ul li.active span.step-num:before, .order-live-track ul li.active span.step-num:after{
    color:#fff;
    background: #40824a;
}
.order-live-track ul li span.step-num:after{
    content: "";
    display: block;
    background: #ccc;
    height: 5px;
    width: 55px;
    position: absolute;
    top: 18px;
    left: 100%;
}
.order-live-track ul li span.step-num:before{
    content: "";
    display: block;
    background: #ccc;
    height: 5px;
    width: 55px;
    position: absolute;
    top: 18px;
    right: 100%;
}

    
.order-live-track ul li span.step-name{
}

.track-step {
    width: 20%;
    text-align: center;
}
.track-step p{
    height: 40px;
}

span.track-cir-bg{display: block;margin-bottom: 17px;}
span.track-cir-bg i{
    border-radius: 50px;
    font-size: 31px;
    background: #d2d2d2;
    color: #fff;
    width: 50px;
    height: 50px;
    padding-top: 9px;
}
span.track-cir-bg.active i{
    background: var(--link-color);
}

/** Become A Traveler **/
section#travel-banner {
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.66);
    background: url('../images/traveler/traveler-banner-2.jpg');
    padding: 4% 0;
}

.traveler-signup-form {
    padding: 20px;
    background: #fff;
}

.traveler-signup-form h2 {margin: 0 0 15px 0;}
.traveler-signup-form label {
}
.traveler-signup-form .form-control {
}
.traveler-signup-form .btn{}

.traveler-banner-title {}
.traveler-banner-title h2{font-weight: 100;font-size:50px;color: var(--link-color);}
.traveler-banner-title p{background: rgba(0, 0, 0, .2);color: #ffffff;font-size: 26px;padding: 10px;}
.trav-est-earn p{font-size:30px;}
/** Traveler Add Item **/
.tr-item-bx {
    padding: 10px;
    border: 1px solid #eee;
    /* background: #ccc; */
    min-height: 400px;
}

.tr-item-bx h3{
    margin:0;
    padding:0;
}
.tr-item-list {}
.tr-item-list ul{
    padding: 0;
}
.tr-item-list ul li{
    cursor: pointer;
    position: relative;
    background: #f8f8f8;
    clear: both;
    overflow: hidden;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #efefef;
}
.tr-item-list ul li:hover{
    /* border: 1px solid #32a801; */
}

.tr-item-list ul li a{}

.tr-item-list ul li img{
    float: left;
    margin-right: 10px;
    max-width: 40px;
    max-height: 40px;
}

.tr-item-list ul li p{
    font-size: 13px;
}
.overlay-act {
    text-align:center;
    background: #38ac2d;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;



    background: #8360c3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}
.overlay-act i{
    font-size: 40px;
    color: #e9ffc3;
    cursor: pointer;
    margin-top: 3%;
}
.tr-item-list ul li:hover .overlay-act{
    display:block;
}

/*--------------------
    Footer  area
--------------------*/
.footer-area {
    position: relative;
    z-index: 0;
    padding-top: 100px;
    padding-bottom: 20px;
    overflow: hidden;
}

.footer-area:after {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(251, 251, 251);
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
}

.footer-area.footer-bg {
    background-image: url(../img/bg/footer-bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

.footer-area .footer-wrap .footer-widget {
    padding-bottom: 60px;
}

.footer-area .footer-wrap .footer-widget.about .footer-logo {
    margin-bottom: 25px;
}

.footer-area .footer-wrap .footer-widget.about .footer-social {
    margin: 23px 0 0 0;
    padding: 0;
}

.footer-area .footer-wrap .footer-widget.about .footer-social li {
    display: inline-block;
    margin: 0 5px;
}

.footer-area .footer-wrap .footer-widget.about .footer-social li:first-child {
    margin-left: 0;
}

.footer-area .footer-wrap .footer-widget.about .footer-social li a {
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    line-height: 35px;
    font-size: 14px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.footer-area .footer-wrap .footer-widget.about .footer-social li:hover .facebook {
    background-color: #3b5999;
    color: #fff;
}

.footer-area .footer-wrap .footer-widget.about .footer-social li:hover .twitter {
    background-color: #55acee;
    color: #fff;
}

.footer-area .footer-wrap .footer-widget.about .footer-social li:hover .linkedin {
    background-color: #0077B5;
    color: #fff;
}

.footer-area .footer-wrap .footer-widget.about .footer-social li:hover .google {
    background-color: #dd4b39;
    color: #fff;
}

.footer-area .footer-wrap .footer-widget.about .footer-social li:hover .skype {
    background-color: #00AFF0;
    color: #fff;
}

.footer-area .footer-wrap .footer-widget .widget-title .title {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    color: #4c4c4c;
    margin-bottom: 20px;
}

.footer-area .footer-wrap .footer-widget .widget-body {
    padding-top: 10px;
}

.footer-area .footer-wrap .footer-widget .widget-body p {
    color: rgba(0, 0, 0, 0.8);
    font-size: 16px;
    line-height: 26px;
    padding-right: 25px;
}

.footer-area .footer-wrap .footer-widget .widget-body ul li {
    display: block;
    margin: 10px 0;
}

.footer-area .footer-wrap .footer-widget .widget-body ul li a {
    color: rgb(31, 78, 183);
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    font-size: 14px;
}

.footer-area .footer-wrap .footer-widget .widget-body ul li a img {
    padding-right: 5px;
}

.footer-area .footer-wrap .footer-widget .widget-body ul li a:hover {
    color: #242424;
}

.footer-area .footer-wrap .footer-widget .widget-body a {
    color: rgb(31, 78, 183);
}

.footer-area .copyright-area {
    padding: 15px 0px 0px;
    color: rgba(0, 0, 0, 0.9);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 14px;
    text-align: center;
}